tqdm
concurrent-log-handler
numpy
transformers
tiktoken
kazoo
psutil
sentencepiece
tritonclient[all]
pynvml
sanic
sanic_ext
pymilvus
langchain
paddleocr
paddlepaddle-gpu
nltk
pypinyin
mysql-connector-python
onnxruntime-gpu
unstructured
unstructured[pptx]
unstructured[md]
tqdm
concurrent-log-handler
numpy
transformers
tiktoken
kazoo
psutil
sentencepiece
tritonclient[all]
pynvml
sanic
sanic_ext
pymilvus
langchain
paddleocr
paddlepaddle-gpu
nltk
pypinyin
mysql-connector-python
onnxruntime-gpu
unstructured
unstructured[pptx]
unstructured[md]
tqdm
concurrent-log-handler
numpy
transformers
tiktoken
kazoo
psutil
sentencepiece
tritonclient[all]
pynvml
sanic
sanic_ext
pymilvus
langchain
paddleocr
paddlepaddle-gpu
nltk
pypinyin
mysql-connector-python
onnxruntime-gpu
unstructured
unstructured[pptx]
unstructured[md]
